<div class="container">
<h2 id='title'>SpaceRobots - embah-style</h2>

<ul class="nav nav-pills">
  <li role="presentation">{{#link-to 'index'}}Home{{/link-to}}</li>
  <li role="presentation">{{#link-to 'robots'}}Robots{{/link-to}}</li>
</ul>




{{outlet}}

</div>
